<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Machine Interface</title>
        <link rel="stylesheet" href="{{ static_url("blank.css") }}" type="text/css">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>

    <body>

        <div id="body">
            <canvas></canvas>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
        <script src="{{ static_url("mousewatch.js") }}"></script>
        <script src="{{ static_url("keywatch.js") }}"></script>
        <script src="{{ static_url("getstate.js") }}"></script>

    </body>

</html>
